/* External Font Embedding */

@font-face {
  font-family: "poppinsblack";
  src: url("fonts/poppins-black-webfont.woff2") format("woff2"),
    url("fonts/poppins-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsblack_italic";
  src: url("fonts/poppins-blackitalic-webfont.woff2") format("woff2"),
    url("fonts/poppins-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold";
  src: url("fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold_italic";
  src: url("fonts/poppins-bolditalic-webfont.woff2") format("woff2"),
    url("fonts/poppins-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextrabold";
  src: url("fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextrabold_italic";
  src: url("fonts/poppins-extrabolditalic-webfont.woff2") format("woff2"),
    url("fonts/poppins-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextralight";
  src: url("fonts/poppins-extralight-webfont.woff2") format("woff2"),
    url("fonts/poppins-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextralight_italic";
  src: url("fonts/poppins-extralightitalic-webfont.woff2") format("woff2"),
    url("fonts/poppins-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsitalic";
  src: url("fonts/poppins-italic-webfont.woff2") format("woff2"),
    url("fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinslight";
  src: url("fonts/poppins-light-webfont.woff2") format("woff2"),
    url("fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinslight_italic";
  src: url("fonts/poppins-lightitalic-webfont.woff2") format("woff2"),
    url("fonts/poppins-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Element styling */
* {
  box-sizing: border-box;
  font-family: "poppinslight", sans-serif;
  word-wrap: break-word;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}

/* Global Classes */
.container {
  margin: 0 auto;
  max-width: 1320px;
}
.flex-all {
  display: flex;
}
.flex-end {
  align-items: flex-end;
}
.flex-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-even {
  justify-content: space-evenly;
}
.black-font {
  color: black;
}

/* Header styling starts */
.nav-left {
  width: 420px;
}
.nav-items-left {
  width: 300px;
}
.nav-right {
  width: 450px;
}
.nav-items-right {
  width: 350px;
}
.call {
  width: 150px;
  background: rgba(247, 207, 214, 0.856);
  color: red;
  padding: 14px;
  border-radius: 30px;
}

.nav-a {
  padding: 20px;
}
.hover-effect:hover {
  border-bottom: 2px solid blue;
}

/* Header styling ends */

/* Main Hero section styling starts */

/* Main hero left starts */
main {
  background: rgb(245, 245, 255);
  background: linear-gradient(
    45deg,
    rgba(245, 245, 255, 1) 0%,
    rgba(255, 255, 255, 1) 60%,
    rgb(245, 245, 255) 100%
  );
}

/* Hero top styling */
.hero-top {
  gap: 10px;
  padding-bottom: 200px;
}
.main-text {
  width: 420px;
}
.main-text h1 {
  font-family: "poppinsbold", sans-serif;
  font-size: 4rem;
}
.main-text p {
  font-size: 1.5rem;
}
/* Main hero left ends */

/* Main hero mid starts */

.main-image-wrapper {
  position: relative;
}
.burger-wrap {
  position: absolute;
  top: 175px;
}
.ketchup-img {
  position: absolute;
  top: 280px;
  left: 335px;
}

/* Main hero mid ends */

/* Main hero right starts */
.summary {
  width: 400px;
}
.summary-header {
  padding-top: 85px;
  font-family: "poppinsbold", sans-serif;
  font-size: 2rem;
  padding-bottom: 20px;
  border-bottom: 3px solid rgb(227, 227, 249);
}

.amount h2 {
  font-family: "poppinsbold", sans-serif;
  font-size: 2rem;
  color: rgb(7, 7, 168);
}
.amount a {
  font-size: 1rem;
  color: white;
  background-color: rgb(7, 7, 168);
  padding: 20px 50px;
  border-radius: 30px;
}

.stats {
  background-color: rgb(227, 227, 249);
  width: 380px;
  padding: 5px 10px 5px 10px;
  border-radius: 40px;
}
.stats-item {
  width: 90px;
}

.free-item {
  font-family: "poppinsmedium", sans-serif;
  font-size: 1.2rem;
  padding: 20px 20px 20px 0px;
}
.ketchup-text {
  color: red;
}
/* Main hero right ends */

/* Hero bottom styling */

.hero-bottom {
  position: relative;
  background-color: rgb(7, 7, 168);
  width: 100%;
  height: 400px;
}

.add-on-holder {
  max-width: 1320px;
  width: 100%;
  position: absolute;
  top: -125px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}
.add-on-wrapper {
  width: 100px;
}
.add-on {
  width: 100%;
}
.add-on-item {
  height: 250px;
  padding-block: 30px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  width: 13%;
}

.circle {
  position: relative;
  background-color: lavender;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.quantity {
  width: 120px;
}
.modify {
  color: rgb(103, 103, 248);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
/* Hero bottom ends */
/* Main Hero section styling ends */
